//文字
.fz-20{
    font-size: 20px;
}
.fz-12{
    font-size: 12px;
}
.fz-14{
    font-size: 14px;
}
.fz-18{
    font-size: 18px;
}
.fz-48{
    font-size: 48px;
}
.fz40{
    font-size: 40px;
}
a{
    text-decoration: none;
}
ol,ul{
    margin: 0;
    padding: 0;
  list-style: none;
}
.icon{
    vertical-align: middle;
}


//spaces
.mr-6{
    margin-right: 6px;
}

//
.border-img{
    border-bottom: 2px solid;
    border-image: linear-gradient( to right, #62DB54,#09ACF5) 1;
}
.bg-cover{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.text-gradient{
        background: linear-gradient(to top,#62DB54,#09ACF5);
        background: -webkit-linear-gradient(to top, #62DB54,#09ACF5);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
     
}
//rounded
.rounded-4{
    border-radius: 14px;
}
.rounded-5{
    border-radius: 20px;
}
.material-symbols-rounded{
    font-size: 40px;
}
//
.circle-pic{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}