//文字
.fz-20{
    font-size: 20px;
}
.fz-12{
    font-size: 12px;
}
.fz-14{
    font-size: 14px;
}
.fz-18{
    font-size: 18px;
}
.fz-48{
    font-size: 48px;
}
.fz40{
    font-size: 40px;
}
a{
    text-decoration: none;
}
ol,ul{
    margin: 0;
    padding: 0;
  list-style: none;
}
.icon{
    vertical-align: middle;
}


//spaces
.mr-6{
    margin-right: 6px;
}
//圖片基本設定
.bg-cover{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.object-fit-cover{
    object-fit: cover;
}
//rounded
.rounded-4{
    border-radius: 14px;
}
.rounded-5{
    border-radius: 20px;
}

.material-symbols-rounded{
    font-size: 40px;
}
.circle-pic{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

//文字改變尺寸
.fs-24-28{
    font-size: 24px;
  }
  .fs-24-48{
    font-size: 24px;
  }
  .fs-22-28{
    font-size: 22px;
  }
  .fs-16-18{
    font-size: 16px;
  }
  .bg-dark-gray{
    background-color: $dark;
  }
@media (min-width:576px){

.fs-24-28{
  font-size: 24px;
}
.fs-24-48{
  font-size: 24px;
}
.fs-22-28{
  font-size: 22px;
}
.fs-16-18{
  font-size: 16px;
}
.bg-dark-gray{
  background-color: $dark;
}}

@media (min-width:768px){
  

  .fs-24-28{
    font-size: 26px;
  }
  .fs-24-48{
    font-size: 48px;
  }
  .fs-22-28{
    font-size: 28px;
  }
  .fs-16-18{
    font-size: 18px;
  }
}
@media (min-width:992px){

  .fs-24-28{
    font-size: 28px;
  }
  .bg-dark-gray{
    background-color: $primary;
    border: none;
  }
  
}
@media (min-width:1200px){
  
}
@media (min-width:1400px){

}