//首頁大圖
.home-back{
  background-image:url(../images/bg_home_mobile.jpg);
  height:336px;
  object-fit: cover;
  
}
@media (min-width:768px){
  .home-back{
      background-image:url(../images/bg_home.jpg);
      height:680px;
  }
}
//大圖白點
.white-square{
  background-color: $white;
  height: 10px;
  width: 10px;
}
.green-line{
  width: 50px;
  height: 3px;
  background-color: $secondary;
}
