//首頁圖片深灰色效果
.bg-light-gray{
  background-color: rgba(28, 28, 28, 0.9);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
}
.hover-none:hover{
  .bg-light-gray{
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
  }
}
.pic-bg-gray-1{
  background-image: url(../images/info01.jpg);
  height: 613px;
}
.pic-bg-gray-2{
  background-image: url(../images/info02.jpg);
}
.pic-bg-gray-3{
  background-image: url(../images/info03.jpg);
}
.pic-bg-gray-4{
  background-image: url(../images/info04.jpg);
}
.pic-size{
  height: 263px;
  @include phone{
    height: 350px;
  }
  @include pad{
    height: 450px;
  }
  @include desk{
    height: 613px;
  }
}
//漸層效果
.bg-linear-r{
  background-image: linear-gradient(to right,$success,$secondary);
}
.btn-linear{
  background-image: linear-gradient(to right,$success,$secondary);
  color: $white;

  
  border-radius: 8px;
  &:hover{
    color: $primary;
    transition: 0.5s;
  }
}
.btn-linear-b{
  background-image: linear-gradient(to bottom,$success,$secondary);
  color: $white;
  border-radius: 8px;
  &:hover{
    color: $primary;
    transition: 0.5s;
  }
}
.border-linear{
  border-bottom: 2px solid;
  border-image: linear-gradient( to right, #62DB54,#09ACF5) 1;
}
.text-gradient{
  background: linear-gradient(to top,#62DB54,#09ACF5);
  background: -webkit-linear-gradient(to top, #62DB54,#09ACF5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

}

//icon-文字 hover設定
.font-op{
  color: rgba(255, 255, 255, 0.8);
}
.whi-gre{
  color: $white;
}
.white-line{
  width: 50px;
  height: 3px;
  background-color: $white;
}
.hover-text:hover{
  .whi-gre{
    color: $secondary;
    transition: 0.5s;
  }
}
.hover-icon:hover{
  .white-line{
    background-color: $secondary;
    transition: 0.5s;
  }
}
//綠色外框
.squareAround{
  display: none;
  width: 32px;
  height:32px;
  &-topL{
    border-top: 2px solid $secondary;
    border-left: 2px solid $secondary;
    border-top-left-radius: 10px;
  }
  &-topR{
    border-top: 2px solid $secondary;
    border-right: 2px solid $secondary;
    border-top-right-radius: 10px;
  }
  &-bottomL{
    border-bottom: 2px solid #62DB54;
    border-left: 2px solid #62DB54;
    border-bottom-left-radius: 10px;
  }
  &-bottomR{
    border-bottom: 2px solid $secondary;
    border-right: 2px solid $secondary;
    border-bottom-right-radius: 10px;
  }
}
.cardsquareHover:hover{
  .squareAround{
    display: block;
    
  }
}
//swiper
:root {
  --swiper-pagination-bullet-horizontal-gap: 0;
  --swiper-pagination-bullet-width: 1rem;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: #{$secondary};
  --swiper-pagination-bullet-inactive-color: #{$secondary};
}




.title span:last-child {
  display: block;
  width: 50px;
  height: 3px;
  margin-top: 1rem;
  background-color: $primary;
}
.bg-share {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @media (min-width: 992px) {
    background-image: url('../images/bg_share.jpg');
  }
}

.swiper--function {
  left: 24px;
  right: 24px;
  @media (min-width: 992px) {
    position: absolute;
    bottom: 0;
    right: 47.25%;
    z-index: 1;
  }
  @media (min-width: 1200px) {
    right: 45.75%;
  }
  .swiper-pagination-bullet {
    border-radius: 1em;
    --swiper-pagination-bullet-width: .5rem;
    transition: width 0.3s;
    &.swiper-pagination-bullet-active {
      --swiper-pagination-bullet-width: 1rem;
    }
  }
}

.card--testimonial {
  .card-img {
    position: relative;
    width: 100%;
    @media (min-width: 992px) {
      width: 57.25%;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: .25rem;
      left: -.25rem;
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
      border: 1px solid $gray-600;
      z-index: -1;
      @media (min-width: 992px) {
        top: .5rem;
        left: -.5rem;
      }
    }
  }
  .card-body {
    position: relative;
    width: 100%;
    border-radius: 24px 24px 24px 0;
    @media (min-width: 992px) {
      position: absolute;
      width: 47%;
    }
    @media (min-width: 1200px) {
      width: 45.5%;
    }
    img {
      top: .5rem;
      right: 24px;
      width: 80px;
      @media (min-width: 992px) {
        top: 0;
        right: 32px;
        width: 100px;
      }
    }
  }
}

.green-list{
        padding-left: 13px;
        margin-bottom: 32px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            top:50%;
            left:0;
            background-color:$secondary;
            margin-right: 16px;
}}